doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Update Book
    body 
        include ../include/header.pug

        h3 Update Book 
        form(action=`/books/${book.slug}?_method=PUT` method='POST' id='form') 
            div 
                label(for="title") Title 
                input(type="text" name='title' id='title' value=book.title)
            div 
                label(for="price") price
                input(type="text" name='price' id='price' value=book.price.toString())
            div 
                label(for="lengthOfSection") number of section
                input(type="number" name='lengthOfSection' id='lengthOfSection' vlaue=book.lengthOfSection)
            div(id='section')
            input(type="submit" value="Update")
        script(src="/js/main.js" ) 
