doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        ul 
            li students
                ul 
                    li 
                        a(href="/students/createStudent") Create Student 
                    li 
                        a(href="/students") All Student 
            li books
                ul 
                    li 
                        a(href="/books/createBook") Create Book
                    li 
                        a(href="/books") All Book
            li University
                ul 
                    li 
                        a(href="/university/createUuniversty") Create University
                    li 
                        a(href="/university") All University